@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --button-color: #223344;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: fit-content;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #f2f9fe;
  margin: 0 20px;
}
.header-container{
  margin-bottom: 30px;
}
.header-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 72px 0 72px;
}
ul {
  list-style-type: none;
}
.header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-links a {
  padding: 0 10px 0 10px;
  text-decoration: none;
}
/* when link is visited */
a:visited {
  color: #223344;
}
/* when you hover with the mouse */
a:hover {
  color: #4ca154;
}
/* when link is active */
a:active {
  color: #2a4dd0;
}

.screen-mode-toggle {
  display: flex;
  flex-direction: row;
  background-color: var(--button-color);
  border-radius: 20px;
  border: none;
  width: 50px;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}


/* THIS WHERE THE HEADER END */

/* THIS IS THE HERO-SECTION START */

.hero-section-container {
  display: flex;
  justify-content: center;
}
.hero-section-container > .hero-section {
  flex: 1;
}
.hero-section-container :last-child {
  flex: 1;
}
.hero-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-slug {
  text-transform: uppercase;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.hero-section h1 {
  font-size: 3.5rem;
  /* font-size: 16pxrem; */
  font-weight: 800;
}
.btn-hero {
  background-color: #2a4dd0;
  padding: 16px;
  border-style: none;
  border-radius: 8px;
  width: 35%;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  margin: 70px 0 15px 0;
}

/*  */

/*  */
.feature-items {
  display: grid;
  grid-template-columns: repeat(2, minmax(120px, 1fr));
  gap: 25px;
}
.feature-items h4 {
  margin: 20px 0;
}
.features-container h2 {
  margin: 30px 40% 50px 0;
}
.media-container {
  display: flex;
  justify-content: center;
}
.media-text,
.gif-video {
  flex: 1;
}
.media-container > .gif-video {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.media-container > .media-text {
  /* display: flex; */
  align-content: center;
}
.gif-video img {
  width: 50%;
  border-radius: 8px;
}
/*  */

/*  */
.cta-section {
  display: flex;
  align-items: center;
  background-color: #223344;
  padding: 80px 50px;
}
.cta-section > .cta-text {
  flex: 1;
  color: thistle;
}
.cta-section .newsletter-form {
  position: relative;
  display: flex;
  flex: 1;
  /* align-content: center; */
  justify-content: center;
}
.newsletter-form input {
  width: 50%;
  height: 50px;
}
.newsletter-email-input + .btn-cta {
  height: 50px;
  width: 50px;
}
.newsletter-email-input {
  border: none;
  display: inline-flex;
  /* margin-left: 100px; */
}
.btn-cta {
  position: relative;
  right: 100px;
  top: 0;
  border: none;
  /* display: inline-flex */
  margin-left: 100px;
}
/*  */
/*THIS PART IS ENTAILS THE RESPONSIVE PROPERTY
/*  */

@media screen and (max-width: 700px) {
  .feature-items {
    grid-template-columns: repeat(1, minmax(120px, 1fr));
    gap: 10px;
  }
  .hero-section-container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .hero-image {
    background-image: url(./resources/hero-image-simple-homepage@2x.png);
  }
  .media-container {
    flex-direction: column;
  }
  .cta-section {
    flex-direction: column;
  }
  .newsletter-form {
    width: auto;
  }
  .newsletter-email-input + .btn-cta {
    width: 300px;
  }
  .newsletter-form input {
    width: 100%;
  }
  h2 {
    margin: 0;
  }
}

.author-info a {
  text-decoration: none;
}