* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        height: 100vh;
      }

      .container{
        display:flex;
        flex-direction:column;
      }
      .header-list{
        display:flex;
        flex-direction: row;
        justify-content:space-between;
      }
      ul{
        outline: none;
      }
      .header-links{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
       
      }
      .header-links li{
         padding: 0 10px 0 10px;
      }
      .author-info {
        font-size: 14px;
        text-align: center;
        margin-top: 16px;
        color: rgb(55, 65, 81);
      }

      .author-info a {
        text-decoration: none;
      }